@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@property --post-border-opacity {
    syntax: "<number>";
    initial-value: .5;
    inherits: false;
}

@property --post-border-opacity {
    syntax: "<number>";
    initial-value: 0;
    inherits: false;
}

:root {
    color-scheme: light dark;
    font-family: system-ui;
    --post-transition-speed: 250ms;
    --post-radius: 1rem;
    --shadow-length: .25rem;
}

body {
    width: 100dvw;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
}

header, footer {
    width: 100%;
}

nav {
    display: flex;
}

header {
    text-align: center;
    vertical-align: middle;
}

header span {
    font-family: "Lobster";
    font-size: 3rem;
    color: red;
    text-shadow: 0 var(--shadow-length) darkred;
    animation-name: colorize-logo;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

footer nav ul {
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    list-style-type:none;
    padding-left: 0;
    gap: 1rem;
}

footer section {
    width: 100%;
    text-align: center;
}

footer nav ul li a {
    opacity: .5;
    color: inherit;
    text-decoration: none;
    transition: linear 500ms;
    vertical-align: middle;
}

footer nav ul li a:hover {
    opacity: 1;
}

.post {
    width: 256px;
    padding: 1rem;
    border-radius: var(--post-radius);
    border-style: solid;
    animation-name: colorize-post;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    --post-border-opacity: .5;
    --post-shadow-opacity: 0;
    transition: --post-border-opacity linear var(--post-transition-speed), --post-shadow-opacity linear var(--post-transition-speed);
}

.post:hover {
    --post-border-opacity: 1;
    --post-shadow-opacity: 1;
    animation-name: hover-post, colorize-post;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.post-thumbnail {
    border-radius: var(--post-radius);
}

.categories {
    margin-top: .5rem;
}

small[category] {
    color: white;
    padding: .25rem;
    border-radius: .25rem;
    text-transform: capitalize;
}

small[category="legacy"] {
    background-color: dimgray;
}

small[category="portfolio"] {
    background-color: red;
}

small[category="design"] {
    background-color: orange;
}

small[category="hardware"] {
    background-color: green;
}

@keyframes colorize-logo {
    0%, 100% {
        color: red;
        text-shadow: 0 var(--shadow-length) darkred;
    }
    20% {
        color: orange;
        text-shadow: 0 var(--shadow-length) darkorange;
    }
    40% {
        color: green;
        text-shadow: 0 var(--shadow-length) darkgreen;
    }
    60% {
        color: blue;
        text-shadow: 0 var(--shadow-length) darkblue;
    }
    80% {
        color: violet;
        text-shadow: 0 var(--shadow-length) darkviolet;
    }
}

@keyframes colorize-post {
    0%, 100% {
        border-color: rgba(255, 0, 0, var(--post-border-opacity));
    }
    20% {
        border-color: rgb(255, 165, 0, var(--post-border-opacity));
    }
    40% {
        border-color: rgb(0, 128, 0, var(--post-border-opacity));
    }
    60% {
        border-color: rgb(0, 0, 255, var(--post-border-opacity));
    }
    80% {
        border-color: rgb(238, 130, 238, var(--post-border-opacity));
    }
}

@keyframes hover-post {
    0%, 100% {
        box-shadow: 0 var(--shadow-length) rgba(139, 0, 0, var(--post-shadow-opacity));
    }
    20% {
        box-shadow: 0 var(--shadow-length) rgba(255, 140, 0, var(--post-shadow-opacity));
    }
    40% {
        box-shadow: 0 var(--shadow-length) rgba(0, 100, 0, var(--post-shadow-opacity));
    }
    60% {
        box-shadow: 0 var(--shadow-length) rgba(0, 0, 139, var(--post-shadow-opacity));
    }
    80% {
        box-shadow: 0 var(--shadow-length) rgba(148, 0, 211, var(--post-shadow-opacity));
    }
}