@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    color-scheme: light dark;
    font-family: system-ui;
}

body {
    width: 100dvw;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header, footer {
    width: 100%;
}

nav {
    display: flex;
}

header {
    text-align: center;
    vertical-align: middle;
}

header span {
    font-family: "Lobster";
    font-size: 4rem;
    color: red;
    text-shadow: 0 .1rem darkred;
    animation-name: colorize-logo;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

footer nav ul {
    margin: 0 auto;
    display: flex;
    justify-content:space-around;
    list-style-type:none;
    padding-left: 0;
    gap: 1rem;
}

footer section {
    width: 100%;
    text-align: center;
}

footer nav ul li a {
    opacity: .5;
    color: inherit;
    text-decoration: none;
    transition: linear 500ms;
    vertical-align: middle;
}

footer nav ul li a:hover {
    opacity: 1;
}

.post {
    width: 256px;
    padding: 1rem;
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px;
    animation-name: colorize-post;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.post:hover {
    animation-name: hover-post;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.categories {
    margin-top: 1rem;
}

small[category] {
    color: white;
    padding: .25rem;
    border-radius: .25rem;
    text-transform: capitalize;
}

small[category="legacy"] {
    background-color: dimgray;
}

small[category="portfolio"] {
    background-color: red;
}

small[category="design"] {
    background-color: orange;
}

small[category="hardware"] {
    background-color: green;
}

@keyframes colorize-logo {
    0%, 100% {
        color: red;
        text-shadow: 0 .1rem darkred;
    }
    20% {
        color: orange;
        text-shadow: 0 .1rem darkorange;
    }
    40% {
        color: green;
        text-shadow: 0 .1rem darkgreen;
    }
    60% {
        color: blue;
        text-shadow: 0 .1rem darkblue;
    }
    80% {
        color: violet;
        text-shadow: 0 .1rem darkviolet;
    }
}

@keyframes colorize-post {
    0%, 100% {
        border-color: rgba(255, 0, 0, .5);
    }
    20% {
        border-color: rgb(255, 165, 0, .5);
    }
    40% {
        border-color: rgb(0, 128, 0, .5);
    }
    60% {
        border-color: rgb(0, 0, 255, .5);
    }
    80% {
        border-color: rgb(238, 130, 238, .5);
    }
}

@keyframes hover-post {
    0%, 100% {
        border-color: red;
        box-shadow: 0 .1rem darkred;
    }
    20% {
        border-color: orange;
        box-shadow: 0 .1rem darkorange;
    }
    40% {
        border-color: green;
        box-shadow: 0 .1rem darkgreen;
    }
    60% {
        border-color: blue;
        box-shadow: 0 .1rem darkblue;
    }
    80% {
        border-color: violet;
        box-shadow: 0 .1rem darkviolet;
    }
}