---
title: Welcome
layout: default
---
{% for post in site.posts %}
<section class="post">
    <a href="{{ post.url }}">
        <div>
            <image width="256px" height="256px" class="post-thumbnail"
                src="/assets/{{ post.assets_dir }}/{{ post.thumbnail }}" />
        </div>
        <div class="post-title">
            <b>{{ post.title }}</b>
        </div>
        <div>
            <small>{{ post.date | date: '%Y-%m-%d' }}</small>
        </div>
        <div class="categories">
            {% for category in post.categories %}
            <small category="{{ category }}">{{ category }}</small>
            {% endfor %}
        </div>
        <div>
            <p>{{ post.summary }}</p>
        </div>
    </a>
</section>
{% endfor %}