---
title: Welcome
layout: default
---
{% for post in site.posts %}
<section class="post">
    <div>
        <a href="{{ post.url }}">
            <image width="256px" height="256px" class="post-thumbnail" src="/assets/{{ post.assets_dir }}/{{ post.thumbnail }}" />
        </a>
    </div>
    <div>
        <a href="{{ post.url }}">
            <span>{{ post.title }}</span>
        </a>
    </div>
    <div>
        {% for category in post.categories %}
        <span class="category-{{ category }}">{{ category }}</span>
        {% endfor %}
    </div>
    <div>
        <p>{{ post.description }}</p>
    </div>
</section>
{% endfor %}