---
title: Welcome
layout: default
---
{% for post in site.posts %}
<section class="post">
    <div>
        <a href="{{ post.url }}">
            <image width="256px" height="256px" class="post-thumbnail" src="/assets/{{ post.assets_dir }}/{{ post.thumbnail }}" />
        </a>
    </div>
    <div>
        <a href="{{ post.url }}">
            <b>{{ post.title }}</b>
        </a>
    </div>
    <div>
        <i>{{ post.date | date: '%Y-%m-%d' }}</i>
    </div>
    <div>
        {% for category in post.categories %}
        <small category="{{ category }}">{{ category }}</small>
        {% endfor %}
    </div>
    <div>
        <p>{{ post.description }}</p>
    </div>
</section>
{% endfor %}