<h1>Portfolio</h1>
<h2>Latest</h2>
<div class="latest-post">
    <a href="{{ site.categories.portfolio[0].url }}">
        <div>
            <image width="256px" height="256px" class="post-thumbnail"
                src="/assets/{{ site.categories.portfolio[0].assets_dir }}/{{ site.categories.portfolio[0].thumbnail }}" />
        </div>
        <div>
            <div class="latest-post-title">
                <b>{{ site.categories.portfolio[0].title }}</b>
            </div>
            <div>
                <small>{{ site.categories.portfolio[0].date | date: '%Y-%m-%d' }}</small>
            </div>
            <div class="categories">
                {% for category in site.categories.portfolio[0].categories %}
                <small category="{{ category }}">{{ category }}</small>
                {% endfor %}
            </div>
            <div>
                <p>{{ site.categories.portfolio[0].summary }}</p>
            </div>
        </div>
    </a>
</div>
<h2>Recent</h2>
<div class="recent-posts">
    {% for post in site.categories.portfolio offset:1 %}
    <div class="post">
        <a href="{{ post.url }}">
            <div>
                <image width="256px" height="256px" class="post-thumbnail"
                    src="/assets/{{ post.assets_dir }}/{{ post.thumbnail }}" />
            </div>
            <div class="post-title">
                <b>{{ post.title }}</b>
            </div>
            <div>
                <small>{{ post.date | date: '%Y-%m-%d' }}</small>
            </div>
            <div class="categories">
                {% for category in post.categories %}
                <small category="{{ category }}">{{ category }}</small>
                {% endfor %}
            </div>
            <div>
                <p>{{ post.summary }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

